.flight-navbar-container
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 100;
    padding: 20px 100px;
    background-color: rgb(34, 116, 224);
}
.fncc
{
    width: 22rem;
    padding-right: 1.2rem;
    position: relative;
    color: white;
}
.fnccb
{
    width: 4rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 1.2rem;
    position: relative;
    top: 10px;
}
.heading
{
    padding-bottom: 0.5rem;
    padding-left: 0.2rem;
    display: flex;
    opacity: 0.6;
}
.fncc-button
{
    background-color: rgb(25, 88, 182);
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    display: block;
    width: 100%;
    height: 3.2rem;
    padding: 1rem 0.5rem 1.2rem 1rem;
    line-height: 1.3;
    border-radius: 0.8rem;
    flex-direction: row;
    -webkit-box-align: center;

}
.update-search
{
    background-color: rgb(255, 255, 255);
    margin-top: 1.5rem;
    height: 3.2rem;
    width: 200px;
    font-size: 16px;
    color: rgb(34, 118, 227);
    border-radius: 10px;
    border: none;
}
.flight-duration
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 4px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  
}
.flight-duration-child
{
    width: 193px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    border-right: 1px solid rgb(218, 222, 227);
    cursor: pointer;
}
.flights-display2
{
    width: 75%;
    background: rgb(218, 222, 227);
}
.flights-display1
{
    width: 25%;
    margin: 20px 0px;
    border-radius: 5px;
    background-color: white;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 4px;
    height: 350px;
}
.flights-display
{
    display: flex;
    background: rgb(218, 222, 227);
    padding: 10px 50px;
}
.filters
{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid rgb(240, 240, 240);
}
.filters-head
{
    font-size: 18px;
}
.total-flights
{
    color: rgb(113, 113, 113);
    margin-top: 5px;
    font-size: 12px;
}
.fil-reset-btn
{
    cursor: default;
    color: rgb(142, 147, 171);
    opacity: 0.3;
    font-weight: 500;
}
.departure
{
    padding: 20px 20px 0px;
}
.departure-head
{
    padding-bottom: 10px;
    font-size: 14px;
}
.depatrute-timing
{
    display: flex;
    justify-content: space-between;
}
.depatrute-timing-child
{
    background: rgb(218, 222, 227);
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.price-input
{
    color: orange;
    width: 100%;
   
}
.flight-details
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: blue;
    cursor: pointer;
}